@{
    ViewBag.Title = "CleytonFerrari.com";
}



<p>Um bom artigo sobre o assunto: <a href="http://www.rodolfofadino.com.br/2013/05/cache-net-cache-de-objetos/">http://www.rodolfofadino.com.br/2013/05/cache-net-cache-de-objetos/</a></p>
<p>Código fonte deste exemplo: <a href="https://github.com/cleytonferrari/CacheObjetoDotNet">https://github.com/cleytonferrari/CacheObjetoDotNet</a></p>
