@{
    ViewBag.Title = "CleytonFerrari.com";
}

<h2>Cache de Objetos</h2>

<ul>
    <li>@Html.ActionLink("Adiciona Objeto", "AdicionarObjeto", "Home") </li>
    <li>@Html.ActionLink("Adiciona Objeto com dependencia", "AdicionarObjetoComDependencia", "Home")</li>
    <li>@Html.ActionLink("Adiciona Objeto com tempo determinado", "AdicionarObjetoComTempo", "Home")</li>
    <li>@Html.ActionLink("Adiciona Objeto com tempo determinado, baseado no ultimo acesso", "AdicionarObjetoComTempoBasedoNoUltimoAcesso", "Home")</li>
</ul>

<p>Um bom artigo sobre o assunto: <a href="http://www.rodolfofadino.com.br/2013/05/cache-net-cache-de-objetos/">http://www.rodolfofadino.com.br/2013/05/cache-net-cache-de-objetos/</a></p>
<p>Código fonte deste exemplo: <a href="https://github.com/cleytonferrari/CacheObjetoDotNet">https://github.com/cleytonferrari/CacheObjetoDotNet</a></p>
